[alias]
        br = branch
        ci = commit
        co = checkout
        st = status
        mt = mergetool
        staged = diff --cached
        amend = commit --amend
        sp = stash pop
        ss = stash show -p
        ff = pull --ff-only
        loggraph = log --graph --full-history --date=short --color --pretty=format:'%C(white)%h%x09%C(red bold)%ad%C(green bold)%d%x20%C(white)%s %C(cyan)%an' --simplify-by-decoration
        loggraph-all = log --graph --full-history --date=short --all --color --pretty=format:'%C(white)%h%x09%C(red bold)%ad%C(green bold)%d%x20%C(white)%s %C(cyan)%an' --simplify-by-decoration
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
	ui = auto
[user]
	; name = <your name>
	; email = <your email>
[core]
	editor = vim
[merge]
	tool = vimdiff
[push]
        default = tracking
